{% extends 'forum/base.html' %}

{% block title %}Forum::Campus E-Governance{% endblock %}

{% block style %}
    <!-- .grid{
        display: grid;
    } -->
{% endblock %}
{% block body %}
<!-- <h1>This will be the forum homepage</h1> -->
<center><a href="#" class="btn btn-outline-danger my-4" style="width: 70%;">Post an issue</a></center>

<h2 align="center">Posted Issues:</h2>

<div class="row my-4 mx-4">
    {% for i in issues|slice:":" %}
    <div class="col-sm-4">
      <div class="card">
        <img src="/media/{{ i.image }}" class="card-img-top img-fluid" alt="..." style="aspect-ratio: 1/1;">
            <div class="card-body">
              <h5 class="card-title">{{ i.subject }}</h5>
              <p class="card-text">{{ i.summary }}</p>
              <p class="card-text">Posted on: {{ i.date }} by {{ i.author }}</p>
              <p class="card-text">Tracked? {{ i.tracked|yesno:"Yes,No" }}</p>
              <a href="{{i.slug}}" class="btn btn-outline-primary">View Issue</a>
            </div>
      </div>
    </div>
    {% endfor %}
    <!-- <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> -->
  </div>


{% endblock %}
