{% extends 'forum/base.html' %}

{% block title %}Home::Campus E-Governance Forum{% endblock %}

{% block style %}
    <!-- .grid{
        display: grid;
    } -->
{% endblock %}
{% block body %}
<!-- <h1>This will be the forum homepage</h1> -->
<center><a href="#" class="btn btn-outline-danger my-4" style="width: 70%;">Post an issue</a></center>

<h2 align="center">Posted Issues:</h2>
<div class="grid my-4 mx-4">
    {% for i in issues|slice:":" %}
    <div class="g-col-4 my-4 mx-4" id="card {{ forloop.counter }}">
        <div class="card" style="width: 33%;">
            <img src="/media/{{ i.image }}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ i.subject }}</h5>
              <p class="card-text">{{ i.summary }}</p>
              <p class="card-text">Posted on: {{ i.date }} by {{ i.author }}</p>
              <p class="card-text">Tracked? {{ i.tracked|yesno:"Yes,No" }}</p>
              <a href="#" class="btn btn-outline-primary">View Issue</a>
            </div>
          </div> 
    </div>
    <!-- <div class="g-col-4">.g-col-4</div> -->
    
    {% endfor %}
</div>    

{% endblock %}
