{% extends 'forum/base.html' %} {% block title %}Login{% endblock %} 

{% block body %}
<p class="my-5 mx-5">Login to continue.</p>

<form class="my-5 mx-5" action='/forum/loginuser/' method='POST'>
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" name="loginuser" required/>
        <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="loginpasswd" required/>
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p class="my-5 mx-5">
    Don't have an account yet? <a href="/forum/signup/">Sign up!</a>
</p>
{% endblock %}