{% extends 'forum/base.html' %}

{% block title %}Tag - {{label}}{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-4 mx-4">Tag: <b>{{label}}</b> </h1>
    {% comment %} <p>
        Name: {{first_name}} {{last_name}}
    </p>
    <p>
        Username: {{ username }}
    </p>
    <p>
        Joined on: {{ date_joined }} UTC<br>
        Last login: {{ last_login }} UTC
    </p>
    <p>
        Email: {{email}}
    </p>
    <p>
        <h3 class="my-4 mx-4">Social:</h3>
        <p class="my-4 mx-4 row">
            <a style="text-decoration: none;" href="{{i.facebook}}" name="Facebook">Facebook</a>
            <a style="text-decoration: none;" href="{{i.twitter}}" name="Twitter">Twitter</a>
            <a style="text-decoration: none;" href="{{i.linkedin}}" name="Instagram">Instagram</a>
            <a style="text-decoration: none;" href="{{i.linkedin}}" name="LinkedIn">LinkedIn</a>
        </p>
    </p> {% endcomment %}
    <h2 class="my-4 mx-4">Issues with tag <b>{{label}}</b>:</h2><br>
    <table style="width:100%">
        <tr>
            <th>Issue</th>
            <th>Link</th>
        </tr>
        {% for i in issues %}
            <tr>
                <td>{{ i }}</td>
                <td><a href="/forum/post/{{ i }}" target="_blank">Go</a></td>
            </tr>
        {% endfor %}
      </table>
      <h2 class="my-4 mx-4">Comments with tag <b>{{label}}</b>:</h2><br>
        <table style="width:100%">
            <tr>
                <th>Issue</th>
                <th>Link</th>
            </tr>
            {% for i in issues %}
                <tr>
                    <td>{{ i }}</td>
                    <td><a href="/forum/post/{{ i }}" target="_blank">Go</a></td>
                </tr>
            {% endfor %}
        </table>
        <h2 class="my-4 mx-4">Usernames using tag <b>{{label}}</b>:</h2><br>
        <table style="width:100%">
            <tr>
                <th>Username</th>
                <th>Link</th>
            </tr>
            {% for i in usernames %}
                <tr>
                    <td>{{ i }}</td>
                    <td><a href="/forum/user/{{ i }}" target="_blank">Go</a></td>
                </tr>
            {% endfor %}
        </table>
</div>

{% endblock %}