{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Forum</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'forum/dashboard/styles.css' %}" />
    <style>
    </style>
  </head>
  <body>
    
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <div class="avatar" style="margin: 0px;">
          <a href="#" data-toggle="tooltip" data-placement="right" title="Username: {{ username }}, Name: {{ first_name }} {{ last_name }}">
            {% if profilepic == '' %}
              <i class="fas fa-user"></i>
            {% else %}
              <img src="/media/{{ profilepic }}" style="border-radius: 100%; height: 40px; width: 40px; padding: 0px;"></img>
            {% endif %}
          </a>
        </div>
        <ul>
        


          <li class="active_link">
            <a href="/forum/"><i class="fas fa-home"></i></a>
          </li>
          {% comment %} <li>
            <a href="#"><i class="fab fa-angellist"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-archway"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-beer"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-book-reader"></i></a>
          </li>
          <div class="spacer"></div>
          <li>
            <a href="#"><i class="fas fa-cog"></i></a>
          </li> {% endcomment %}
          <li class="active_link">
            <a data-toggle="tooltip" data-placement="right" title="Logout" href="/forum/logout"><i class="fas fa-power-off"></i></a>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <p class="row my-4">
        <center><h2 style="color: white;">Welcome {{ first_name }} {{ last_name }} ({{ username }})</h2></center>
        <br>
        <br>
        </p>
        <div class="row">
          <div class="card card1">
            <div class="card1_title_wrapper">
              <h1 class="car1_title">Your Posts</h1>
              <p class="car1_text">
                {{ activity|length }}  
                <a href="/forum/newpost/" style="text-decoration: none;"><span class="card1_span"
                  >New post <i class="fas fa-plus"></i
                ></span></a>
              </p>
            </div>
            <div class="card1_table_wrapper card_scroll">
              <table class="card1_table card_scroll" id="PostsTable">
                <thead class="card1_table_head">
                  <tr>
                    <th onclick="sortTable(0,'PostsTable')">Subject</th>
                    <th onclick="sortTable(1,'PostsTable')">Date</th>
                    <th onclick="sortTable(2,'PostsTable')">Votes</th>
                    <th onclick="sortTable(3,'PostsTable')">Tracked</th>
                    <th onclick="sortTable(4,'PostsTable')">Link</th>
                  </tr>
                </thead>
                <tbody class="card1_table_tbody">
                  {% for i in activity %}
                    <tr>
                      {% comment %} <td><i class="positiveIcon fas fa-check"></i> John Doe</td> {% endcomment %}
                      <td>{{ i.subject }}</td>
                      <td>{{ i.date }}</td>
                      <td>{{ i.votes }}</td>
                      <td>{{ i.tracked|yesno:"Yes,No" }}</td>
                      <td>
                        <a href="/forum/post/{{ i.slug }}" target="_blank"><button class="btn btn-primary">Go</button></a>
                        <br><br>
                        <form method="POST" action="/forum/deletepost/post" class="my-2">
                          {% csrf_token %}
                          <input type="hidden" name="postId" value="{{i.sno}}">        
                          <input type="hidden" name="poster" value="{{i.username}}"> 
                          <input type="submit" value="Delete" class="btn btn-primary">
                      </form>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card card2">
            <div class="clock" onclick="changeClock()">
              <div class="hour_wrapper">
                <div class="hour" id="hr"></div>
              </div>
              <div class="minute_wrapper">
                <div class="minute" id="mn"></div>
              </div>
              <div class="second_wrapper">
                <div class="second" id="sc"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row2">
          <div class="card card3">
            {% comment %} <div class="weather_title">
              <button class="btn btn-secondary">Kolkata</button>
              <span>16:05</span>
            </div>
            <div class="weather_image">
              <img src="{% static 'forum/dashboard/images/cloud2.png' %}" alt="cloud" />
              <span>Light Rain</span>
            </div>
            <div class="weather_bottom">
              <div class="left_numbers">
                <p><i class="fas fa-wind"></i> 19km/h</p>
                <p><i class="fas fa-tint"></i> 65%</p>
                <p><i class="fas fa-sun"></i> 3.5hr</p>
              </div>
              <div class="right_degree">
                <p>19&#176;</p>
              </div>
            </div> {% endcomment %}
            <h2>Reputation</h2>
            <center><p class="car1_text reputation_text">{{reputation}}</p></center>
          </div>
          <div class="card card4">
            <div class="card1_title_wrapper">
              <h1 class="car1_title">Your Comments</h1>
              <p class="car1_text">
                {{ comments|length }}  
              </p>
            </div>
            <div class="card1_table_wrapper card_scroll">
              <table class="card1_table card_scroll" id="CommentsTable">
                <thead class="card1_table_head">
                  <tr>
                    <th onclick="sortTable(0,'CommentsTable')">Comments</th>
                    <th onclick="sortTable(1,'CommentsTable')">Date</th>
                    <th onclick="sortTable(2,'CommentsTable')">Link</th>
                  </tr>
                </thead>
                <tbody class="card1_table_tbody card_scroll">
                  {% for i in comments %}
                    <tr>
                      <td>{{i.description|truncatechars:50}}</td>
                      <td>{{i.timestamp}}</td>
                      <td>
                      <a href="/forum/post/{{i.slug}}" target="_blank"><button class="btn btn-primary">Go</button>
                      <br><br>
                      <form method="POST" action="/forum/deletepost/comment" class="my-2">
                        {% csrf_token %}
                        <input type="hidden" name="postId" value="{{i.sno}}">        
                        <input type="hidden" name="poster" value="{{i.username}}"> 
                        <input type="submit" value="Delete" class="btn btn-primary">
                      </form>
                      </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                </div>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>

    {% comment %} <script src="{% static 'forum/dashboard/main.js' %}"></script> {% endcomment %}
    <script>
      function sortTable(n, tableName) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById(tableName);
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
          //start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /*Loop through all table rows (except the
          first, which contains table headers):*/
          for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
          } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }

      const clockDesigns = ["clock", "clock2", "clock3", "clock4", "clock5"];
      const maxLength = clockDesigns.length;
      let startIndex = 0;

      const clock = document.querySelector(".clock");
      clock.style.background = "url({% static 'forum/dashboard/images/clock.png' %})";
      clock.style.backgroundSize = "cover";

      function changeClock() {
        startIndex++;
        if (startIndex === maxLength) {
          startIndex = 0;
        }
        clock.style.background = `url('images/${clockDesigns[startIndex]}.png')`;
        clock.style.backgroundSize = "cover";
      }

      const deg = 6;
      const hour = document.querySelector(".hour");
      const minute = document.querySelector(".minute");
      const second = document.querySelector(".second");

      setInterval(() => {
        let day = new Date();
        let hh = day.getHours() * 30;
        let mm = day.getMinutes() * deg;
        let ss = day.getSeconds() * deg;

        hour.style.transform = `rotateZ(${hh + mm / 12}deg)`;
        minute.style.transform = `rotateZ(${mm}deg)`;
        second.style.transform = `rotateZ(${ss}deg)`;
      });

    </script>
  </body>
</html>
